<form *ngIf="showAddtaskForm" #inputForm="ngForm" (ngSubmit)="onSubmit(); inputForm.reset()">
  <div class="form-group">
    <label for="text">Add new item</label>
    <input required id="text" type="text" name="text" placeholder="enter here" [(ngModel)]="text" class="form-label" />
  </div>
  <div class="form-group">
    <label for="categories">Category</label>
    <select class="form-select" name="category" id="categories" [(ngModel)]="category">
      <option value="office">office</option>
      <option value="personal">personal</option>
      <option value="other">other</option>
    </select>
  </div>
  <div class="form-group">
    <label for="priorities">Priority</label>
    <select class="form-select" name="priority" id="priorities" [(ngModel)]="priority">
      <option value="low">low</option>
      <option value="medium">medium</option>
      <option value="high">high</option>
    </select>
  </div>
  <div class="form-group">
    <label for="date">Select date:</label>
    <input type="date" name="dateAdded" id="date" [(ngModel)]="dateAdded" />
  </div>

  <button class="btn btn-outline-success" type="submit">Save</button>
</form>
